<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Subas || Contact</title>
    <meta
      name="description"
      content="Subas – Electronics Store eCommerce HTML Template is a electronics, electronics store, mobile phone business with clean, modern and elegant design. It has a fully responsive width adjusts automatically to any screen size or resolution. It has a fully responsive width adjusts automatically to any screen size or resolution."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../static/img/icon/favicon.png"
    />

    <!-- All CSS Files -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <!-- Nivo-slider css -->
    <link rel="stylesheet" href="../static/lib/css/nivo-slider.css" />
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="../static/css/core.css" />
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="../static/css/shortcode/shortcodes.css" />
    <!-- Theme main style -->
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- Responsive css -->
    <link rel="stylesheet" href="../static/css/responsive.css" />
    <!-- User style -->
    <link rel="stylesheet" href="../static/css/custom.css" />

    <!-- Style customizer (Remove these two lines please) -->
    <link rel="stylesheet" href="../static/css/style-customizer.css" />
    <link href="#" data-style="styles" rel="stylesheet" />

    <!-- Modernizr JS -->
    <script src="../static/js/vendor/modernizr-3.11.2.min.js"></script>
  </head>

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <!-- Body main wrapper start -->
    <div class="wrapper">
      <!-- START HEADER AREA -->
      <header class="header-area header-wrapper">
        {% include 'header.html' %}
      </header>
      <!-- END HEADER AREA -->

      <!-- START MOBILE MENU AREA -->
      {% include 'mobile_menu_area.html' %}
      <!-- END MOBILE MENU AREA -->

      <!-- BREADCRUMBS SETCTION START -->
      <div class="breadcrumbs-section plr-200 mb-80 section">
        <div class="breadcrumbs overlay-bg">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="breadcrumbs-inner">
                  <h1 class="breadcrumbs-title">Contact</h1>
                  <ul class="breadcrumb-list">
                    <li><a href="index.html">Home</a></li>
                    <li>Contact</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- BREADCRUMBS SETCTION END -->

      <!-- Start page content -->
      <section id="page-content" class="page-wrapper section">
        <!-- ADDRESS SECTION START -->
        <div class="address-section mb-80">
          <div class="container">
            <div class="row">
                {% for address in context.address %}
              <div class="col-md-4">
                <div class="contact-address box-shadow">
                  <i class="zmdi zmdi-pin"></i>
                  <h6>{{ address.name }}</h6>
                  <h6>{{ address.address }}</h6>
                  <h6>{{ address.city }}, {{address.state }}</h6>
                  <h6>{{ address.zip }}</h6>
                </div>
              </div>
                {% endfor %}
                {% for phone in context.phone %}
              <div class="col-md-4">
                <div class="contact-address box-shadow">
                  <i class="zmdi zmdi-phone"></i>
                  <h6>{{ phone.name }}</h6>
                  <h6><a href="tel:{{ phone.number }}">0123456789</a></h6>
                  <h6>{{ phone.type }}</h6>
                </div>
              </div>
                {% endfor %}
                {% for email in context.email %}
              <div class="col-md-4">
                <div class="contact-address box-shadow">
                  <i class="zmdi zmdi-email"></i>
                  <h6>{{ email.type }}</h6>
                  <h6>{{ email.address }}</h6>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
        </div>
        <!-- ADDRESS SECTION END -->

        <!-- GOOGLE MAP SECTION START -->
        <div class="google-map-section">
          <div class="container-fluid">
            <div class="google-map plr-185">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3442.9234113846114!2d76.41803141512237!3d30.353126481771113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39102973a1a3a66b%3A0x6880d3eb61bde9ac!2s840%2C%20DMW%20Railway%20Colony%2C%20Patiala%2C%20Punjab%20147003!5e0!3m2!1sen!2sin!4v1646579401824!5m2!1sen!2sin"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
              ></iframe>
            </div>
          </div>
        </div>
        <!-- GOOGLE MAP SECTION END -->

        <!-- MESSAGE BOX SECTION START -->
        <div class="message-box-section mt--50 mb-80">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="message-box box-shadow white-bg">
                  <form
                    id="contact-form"
                    action="https://whizthemes.com/mail-php/other/mail.php"
                  >
                    <div class="row">
                      <div class="col-lg-12">
                        <h4 class="blog-section-title border-left mb-30">
                          get in touch
                        </h4>
                      </div>
                      <div class="col-lg-6">
                        <input
                          type="text"
                          name="con_name"
                          placeholder="Your name here"
                        />
                      </div>
                      <div class="col-lg-6">
                        <input
                          type="text"
                          name="con_email"
                          placeholder="Your email here"
                        />
                      </div>
                      <div class="col-lg-6">
                        <input
                          type="text"
                          name="con_subject"
                          placeholder="Subject here"
                        />
                      </div>
                      <div class="col-lg-6">
                        <input
                          type="text"
                          name="con_phone"
                          placeholder="Your phone here"
                        />
                      </div>
                      <div class="col-lg-12">
                        <textarea
                          class="custom-textarea"
                          name="con_message"
                          placeholder="Message"
                        ></textarea>
                        <button
                          class="submit-btn-1 mt-30 btn-hover-1"
                          type="submit"
                        >
                          submit message
                        </button>
                      </div>
                    </div>
                    <p class="form-message"></p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- MESSAGE BOX SECTION END -->
      </section>
      <!-- End page content -->

      <!-- START FOOTER AREA -->
      <footer id="footer" class="footer-area section">
        {% include 'footer.html' %}
      </footer>
      <!-- END FOOTER AREA -->

      <!--style-customizer start -->
      <div class="style-customizer closed">
        <div class="buy-button">
          <a href="index.html" class="customizer-logo"
            ><img src="../static/images/logo/logo.png" alt="Theme Logo"
          /></a>
          <a class="opener" href="#"><i class="zmdi zmdi-settings"></i></a>
        </div>
        <div class="clearfix content-chooser">
          <h3>Layout Options</h3>
          <p>Which layout option you want to use?</p>
          <ul class="layoutstyle clearfix">
            <li class="wide-layout selected" data-style="wide" title="wide">
              Wide
            </li>
            <li class="boxed-layout" data-style="boxed" title="boxed">Boxed</li>
          </ul>
          <h3>Color Schemes</h3>
          <p>Which theme color you want to use? Select from here.</p>
          <ul class="styleChange clearfix">
            <li
              class="skin-default selected"
              title="skin-default"
              data-style="skin-default"
            ></li>
            <li class="skin-green" title="green" data-style="skin-green"></li>
            <li
              class="skin-purple"
              title="purple"
              data-style="skin-purple"
            ></li>
            <li class="skin-blue" title="blue" data-style="skin-blue"></li>
            <li class="skin-cyan" title="cyan" data-style="skin-cyan"></li>
            <li class="skin-amber" title="amber" data-style="skin-amber"></li>
            <li
              class="skin-blue-grey"
              title="blue-grey"
              data-style="skin-blue-grey"
            ></li>
            <li class="skin-teal" title="teal" data-style="skin-teal"></li>
          </ul>
          <h3>Background Patterns</h3>
          <p>Which background pattern you want to use?</p>
          <ul class="patternChange clearfix">
            <li class="pattern-1" data-style="pattern-1" title="pattern-1"></li>
            <li class="pattern-2" data-style="pattern-2" title="pattern-2"></li>
            <li class="pattern-3" data-style="pattern-3" title="pattern-3"></li>
            <li class="pattern-4" data-style="pattern-4" title="pattern-4"></li>
            <li class="pattern-5" data-style="pattern-5" title="pattern-5"></li>
            <li class="pattern-6" data-style="pattern-6" title="pattern-6"></li>
            <li class="pattern-7" data-style="pattern-7" title="pattern-7"></li>
            <li class="pattern-8" data-style="pattern-8" title="pattern-8"></li>
          </ul>
          <h3>Background Images</h3>
          <p>Which background image you want to use?</p>
          <ul class="patternChange main-bg-change clearfix">
            <li class="main-bg-1" data-style="main-bg-1" title="Background 1">
              <img src="../static/images/customizer/bodybg/01.jpg" alt="" />
            </li>
            <li class="main-bg-2" data-style="main-bg-2" title="Background 2">
              <img src="../static/images/customizer/bodybg/02.jpg" alt="" />
            </li>
            <li class="main-bg-3" data-style="main-bg-3" title="Background 3">
              <img src="../static/images/customizer/bodybg/03.jpg" alt="" />
            </li>
            <li class="main-bg-4" data-style="main-bg-4" title="Background 4">
              <img src="../static/images/customizer/bodybg/04.jpg" alt="" />
            </li>
            <li class="main-bg-5" data-style="main-bg-5" title="Background 5">
              <img src="../static/images/customizer/bodybg/05.jpg" alt="" />
            </li>
            <li class="main-bg-6" data-style="main-bg-6" title="Background 6">
              <img src="../static/images/customizer/bodybg/06.jpg" alt="" />
            </li>
            <li class="main-bg-7" data-style="main-bg-7" title="Background 7">
              <img src="../static/images/customizer/bodybg/07.jpg" alt="" />
            </li>
            <li class="main-bg-8" data-style="main-bg-8" title="Background 8">
              <img src="../static/images/customizer/bodybg/08.jpg" alt="" />
            </li>
          </ul>
          <ul class="resetAll">
            <li>
              <a class="button button-border button-reset" href="#"
                >Reset All</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!--style-customizer end -->
    </div>
    <!-- Body main wrapper end -->

    <!-- Placed JS at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script src="../static/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="../static/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <!-- jquery.nivo.slider js -->
    <script src="../static/lib/js/jquery.nivo.slider.js"></script>
    <!-- Google Map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDacJcoyPCr-jdlP9HK93h3YKNyf710J0"></script>

    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuU_0_uLMnFM-2oWod_fzC0atPZj7dHlU"></script> -->
    <script src="../static/js/map.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="../static/js/plugins.js"></script>
    <!-- ajax-mail js -->
    <script src="../static/js/ajax-mail.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="../static/js/main.js"></script>
  </body>
</html>
