<!-- header-middle-area -->
<div id="sticky-header" class="header-middle-area plr-185">
  <div class="container-fluid">
    <div class="full-width-mega-dropdown">
      <div class="row">
        <!-- logo -->
        <div class="col-lg-2 col-md-4">
          <div class="logo">
            <a href="/index.html">
              <img src="../static/img/logo/logo.png" alt="main logo" />
            </a>
          </div>
        </div>
        <!-- primary-menu -->
        <div class="col-lg-8 d-none d-lg-block">
          <nav id="primary-menu">
            <ul class="main-menu text-center">
              <li>
                <a href="/index.html">Home</a>
              </li>
              <li>
                <a href="/about.html">About us</a>
              </li>
              <li>
                <a href="/contact.html">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
