
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Subas || Shopping Cart</title>
    <meta
      name="description"
      content="Subas – Electronics Store eCommerce HTML Template is a electronics, electronics store, mobile phone business with clean, modern and elegant design. It has a fully responsive width adjusts automatically to any screen size or resolution. It has a fully responsive width adjusts automatically to any screen size or resolution."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../static/img/icon/favicon.png"
    />

    <!-- All CSS Files -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <!-- Nivo-slider css -->
    <link rel="stylesheet" href="../static/lib/css/nivo-slider.css" />
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="../static/css/core.css" />
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="../static/css/shortcode/shortcodes.css" />
    <!-- Theme main style -->
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- Responsive css -->
    <link rel="stylesheet" href="../static/css/responsive.css" />
    <!-- User style -->
    <link rel="stylesheet" href="../static/css/custom.css" />

    <!-- Style customizer (Remove these two lines please) -->
    <link rel="stylesheet" href="../static/css/style-customizer.css" />
    <link href="#" data-style="styles" rel="stylesheet" />

    <!-- Modernizr JS -->
    <script src="../static/js/vendor/modernizr-3.11.2.min.js"></script>
  </head>

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <!-- Body main wrapper start -->
    <div class="wrapper">
      <!-- START HEADER AREA -->
      <header class="header-area header-wrapper">
        <!-- header-middle-area -->
<div id="sticky-header" class="header-middle-area plr-185">
  <div class="container-fluid">
    <div class="full-width-mega-dropdown">
      <div class="row">
        <!-- logo -->
        <div class="col-lg-2 col-md-4">
          <div class="logo">
            <a href="/index.html">
              <img src="../static/img/logo/logo.png" alt="main logo" />
            </a>
          </div>
        </div>
        <!-- primary-menu -->
        <div class="col-lg-8 d-none d-lg-block">
          <nav id="primary-menu">
            <ul class="main-menu text-center">
              <li>
                <a href="/index.html">Home</a>
              </li>
              <li>
                <a href="/about.html">About us</a>
              </li>
              <li>
                <a href="/contact.html">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- header-search & total-cart -->
        <div class="col-lg-2 col-md-8">
          <div class="search-top-cart f-right">
            <!-- header-search -->
            <div class="header-search header-search-2 f-left">
              <div class="header-search-inner">
                <button class="search-toggle">
                  <i class="zmdi zmdi-search"></i>
                </button>
                <form action="#">
                  <div class="top-search-box">
                    <input
                      type="text"
                      placeholder="Search here your product..."
                    />
                    <button type="submit">
                      <i class="zmdi zmdi-search"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="header-account header-account-2 f-left">
              <ul class="user-meta">
                <li>
                  <a href="#"><i class="zmdi zmdi-view-headline"></i></a>
                  <ul>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Wish list</a></li>
                    <li><a href="#">Checkout</a></li>
                    <li><a href="#">Testimonial</a></li>
                    <li><a href="#">Log in</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- total-cart -->
            <div class="total-cart total-cart-2 f-left">
              <div class="total-cart-in">
                <div class="cart-toggler">
                  <a href="#">
                    <span class="cart-quantity">02</span><br />
                    <span class="cart-icon">
                      <i class="zmdi zmdi-shopping-cart-plus"></i>
                    </span>
                  </a>
                </div>
                <ul>
                  <li>
                    <div class="top-cart-inner your-cart">
                      <h5 class="text-capitalize">Your Cart</h5>
                    </div>
                  </li>
                  <li>
                    <div class="total-cart-pro">
                      <!-- single-cart -->
                      <div class="single-cart clearfix">
                        <div class="cart-img f-left">
                          <a href="#">
                            <img
                              src="../static/img/cart/1.jpg"
                              alt="Cart Product"
                            />
                          </a>
                          <div class="del-icon">
                            <a href="#">
                              <i class="zmdi zmdi-close"></i>
                            </a>
                          </div>
                        </div>
                        <div class="cart-info f-left">
                          <h6 class="text-capitalize">
                            <a href="#">Dummy Product Name</a>
                          </h6>
                          <p>
                            <span>Brand <strong>:</strong></span
                            >Brand Name
                          </p>
                          <p>
                            <span>Model <strong>:</strong></span
                            >Grand s2
                          </p>
                          <p>
                            <span>Color <strong>:</strong></span
                            >Black, White
                          </p>
                        </div>
                      </div>
                      <!-- single-cart -->
                      <div class="single-cart clearfix">
                        <div class="cart-img f-left">
                          <a href="#">
                            <img
                              src="../static/img/cart/1.jpg"
                              alt="Cart Product"
                            />
                          </a>
                          <div class="del-icon">
                            <a href="#">
                              <i class="zmdi zmdi-close"></i>
                            </a>
                          </div>
                        </div>
                        <div class="cart-info f-left">
                          <h6 class="text-capitalize">
                            <a href="#">Dummy Product Name</a>
                          </h6>
                          <p>
                            <span>Brand <strong>:</strong></span
                            >Brand Name
                          </p>
                          <p>
                            <span>Model <strong>:</strong></span
                            >Grand s2
                          </p>
                          <p>
                            <span>Color <strong>:</strong></span
                            >Black, White
                          </p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="top-cart-inner subtotal">
                      <h4 class="text-uppercase g-font-2">
                        Total =
                        <span>$ 500.00</span>
                      </h4>
                    </div>
                  </li>
                  <li>
                    <div class="top-cart-inner view-cart">
                      <h4 class="text-uppercase">
                        <a href="#">View cart</a>
                      </h4>
                    </div>
                  </li>
                  <li>
                    <div class="top-cart-inner check-out">
                      <h4 class="text-uppercase">
                        <a href="#">Check out</a>
                      </h4>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      </header>
      <!-- END HEADER AREA -->

      <!-- START MOBILE MENU AREA -->
      <div class="mobile-menu-area d-block d-lg-none section">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="mobile-menu">
                <nav id="dropdown">
                  <ul>
                    <li>
                      <a href="index.html">Home</a>
                    </li>
                    <li>
                      <a href="shop.html">Products</a>
                    </li>
                    <li>
                      <a href="about.html">About Us</a>
                    </li>
                    <li>
                      <a href="contact.html">Contact</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END MOBILE MENU AREA -->

      <!-- BREADCRUMBS SETCTION START -->
      <div class="breadcrumbs-section plr-200 mb-80 section">
        <div class="breadcrumbs overlay-bg">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="breadcrumbs-inner">
                  <h1 class="breadcrumbs-title">Shopping Cart</h1>
                  <ul class="breadcrumb-list">
                    <li><a href="index.html">Home</a></li>
                    <li>Shopping Cart</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- BREADCRUMBS SETCTION END -->

      <!-- Start page content -->
      <section id="page-content" class="page-wrapper section">
        <!-- SHOP SECTION START -->
        <div class="shop-section mb-80">
                  <!-- order-complete start -->
                  <div class="tab-pane" id="order-complete">
                    <div class="order-complete-content box-shadow">
                      <div class="thank-you p-30 text-center">
                        <h6 class="text-black-5 mb-0">
                          Thank you. Your order has been received.
                        </h6>
                      </div>
                      <div class="order-info p-30 mb-10">
                        <ul class="order-info-list">
                          <li>
                            <h6>order no</h6>
                            <p>m 2653257</p>
                          </li>
                        </ul>
                      </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- order-complete end -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- SHOP SECTION END -->
      </section>
      <!-- End page content -->

      <!-- START FOOTER AREA -->
      <footer id="footer" class="footer-area section">
        {% include 'footer.html' %}
      </footer>
      <!-- END FOOTER AREA -->

      <!--style-customizer start -->
      <div class="style-customizer closed">
        <div class="buy-button">
          <a href="index.html" class="customizer-logo"
            ><img src="../static/images/logo/logo.png" alt="Theme Logo"
          /></a>
          <a class="opener" href="#"><i class="zmdi zmdi-settings"></i></a>
        </div>
        <div class="clearfix content-chooser">
          <h3>Layout Options</h3>
          <p>Which layout option you want to use?</p>
          <ul class="layoutstyle clearfix">
            <li class="wide-layout selected" data-style="wide" title="wide">
              Wide
            </li>
            <li class="boxed-layout" data-style="boxed" title="boxed">Boxed</li>
          </ul>
          <h3>Color Schemes</h3>
          <p>Which theme color you want to use? Select from here.</p>
          <ul class="styleChange clearfix">
            <li
              class="skin-default selected"
              title="skin-default"
              data-style="skin-default"
            ></li>
            <li class="skin-green" title="green" data-style="skin-green"></li>
            <li
              class="skin-purple"
              title="purple"
              data-style="skin-purple"
            ></li>
            <li class="skin-blue" title="blue" data-style="skin-blue"></li>
            <li class="skin-cyan" title="cyan" data-style="skin-cyan"></li>
            <li class="skin-amber" title="amber" data-style="skin-amber"></li>
            <li
              class="skin-blue-grey"
              title="blue-grey"
              data-style="skin-blue-grey"
            ></li>
            <li class="skin-teal" title="teal" data-style="skin-teal"></li>
          </ul>
          <h3>Background Patterns</h3>
          <p>Which background pattern you want to use?</p>
          <ul class="patternChange clearfix">
            <li class="pattern-1" data-style="pattern-1" title="pattern-1"></li>
            <li class="pattern-2" data-style="pattern-2" title="pattern-2"></li>
            <li class="pattern-3" data-style="pattern-3" title="pattern-3"></li>
            <li class="pattern-4" data-style="pattern-4" title="pattern-4"></li>
            <li class="pattern-5" data-style="pattern-5" title="pattern-5"></li>
            <li class="pattern-6" data-style="pattern-6" title="pattern-6"></li>
            <li class="pattern-7" data-style="pattern-7" title="pattern-7"></li>
            <li class="pattern-8" data-style="pattern-8" title="pattern-8"></li>
          </ul>
          <h3>Background Images</h3>
          <p>Which background image you want to use?</p>
          <ul class="patternChange main-bg-change clearfix">
            <li class="main-bg-1" data-style="main-bg-1" title="Background 1">
              <img src="../static/images/customizer/bodybg/01.jpg" alt="" />
            </li>
            <li class="main-bg-2" data-style="main-bg-2" title="Background 2">
              <img src="../static/images/customizer/bodybg/02.jpg" alt="" />
            </li>
            <li class="main-bg-3" data-style="main-bg-3" title="Background 3">
              <img src="../static/images/customizer/bodybg/03.jpg" alt="" />
            </li>
            <li class="main-bg-4" data-style="main-bg-4" title="Background 4">
              <img src="../static/images/customizer/bodybg/04.jpg" alt="" />
            </li>
            <li class="main-bg-5" data-style="main-bg-5" title="Background 5">
              <img src="../static/images/customizer/bodybg/05.jpg" alt="" />
            </li>
            <li class="main-bg-6" data-style="main-bg-6" title="Background 6">
              <img src="../static/images/customizer/bodybg/06.jpg" alt="" />
            </li>
            <li class="main-bg-7" data-style="main-bg-7" title="Background 7">
              <img src="../static/images/customizer/bodybg/07.jpg" alt="" />
            </li>
            <li class="main-bg-8" data-style="main-bg-8" title="Background 8">
              <img src="../static/images/customizer/bodybg/08.jpg" alt="" />
            </li>
          </ul>
          <ul class="resetAll">
            <li>
              <a class="button button-border button-reset" href="#"
                >Reset All</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!--style-customizer end -->
    </div>
    <!-- Body main wrapper end -->

    <!-- Placed JS at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script src="../static/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="../static/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <!-- jquery.nivo.slider js -->
    <script src="../static/lib/js/jquery.nivo.slider.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="../static/js/plugins.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="../static/js/main.js"></script>
  </body>
</html>